.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-inline: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }


  .btn {
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    margin-block: 40px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: indigo;
  
    display: flex;
    align-items: center;
    &:active {
      box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.6);
    }
  }